body {
    background-color: rgb(3, 39, 50);
    font-family: 'Domine';
    padding-top: 60px;
}
body>.container {
    position:relative;
    color: white;
    animation-name: pageTrans;
    animation-duration: 1s;
}
@keyframes pageTrans {
    0%      {opacity: 0%; left: 15px;}
    100%    {opacity: 100%; left: 0px;}
}

a:visited {
    text-decoration: none;
    color: grey;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 1rem;
}
a:link {
    text-decoration: none;
    color: white;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 1em;
}
a:hover {
    text-decoration: none;
    color: pink;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 1em;
}
a:active {
    text-decoration: none;
    color: yellow;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 1em;
}
.link {
    text-decoration: none;
    text-align: center;
}
.logo {
    width: 3%;
    height: 3%;
    margin-left: 10%;
}
#YTlink {
    background-color: white;
}
.my-title {
    margin-top: 1%;
}
.offWhite {
    background-color: rgb(205, 209, 186);
}

.text-justify{
    text-align: justify;
}